$color-background: #f9fbfc;
$color-text: #3d3c3d;
$color-success: #23ab69;
$color-primary: #1250da;
$color-light: #e1e2e5;
$color-warning: #feba1a;
$color-error: #fe2e55;

$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;
$border-radius-5: 2rem;

$card-padding: 1.8rem;
$padding-1: 1.2rem;

$box-shadow: 0 0.1rem 1rem $color-light;

